<!DOCTYPE html>
{% extends "base.html" %}
    {% block body_block %}
        <div class="jumbotron">
          <div class="container">
            <form action = "/song/searchSong/" method ="POST" enctype="multipart/form-data">
                {{form.hidden_tag() }}
              <dl>
                  {{ form.select }}
                  <p>
                  {{ form.search }}
                  </p>
              </dl>
              <p><input type="submit" value="Search"></p>
              </form>
          </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Delete Song</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in songs%}
                  <tr>
                    <td><a href="/song/play/{{ i.id }}">{{ i.title }}</a></td>
                    <td>{{ i.artist }}</td>
                    <td>{{ i.album }}</td>
                    <td><a href="/song/delete/{{i.id}}">Delete</a></td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    {% endblock %}